#root {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.MuiPickersLayout-root {
  display: block !important;
}

.MuiTableCell-root {
  color: white !important;
}

#fee {
  animation: scale 1s both;
  animation-delay: 0.5s;
  display: inline-block;
}

@keyframes scale {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg) scale(1.5);}
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}